/* about */
.fs-6{
    font-size: 24px;
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
    
}
a{
    text-decoration: none;
}
.fw-bold{
    font-weight: bold;
}
main .container{
    margin-bottom: 70px;
}
.images--about{
    height: 250px;
    position: relative;
    display: flex;
    justify-content: end;
}
.images--about2{
    justify-content: start;
}
.images--about img{
    height: 300px;
    width: 100%;
}
.col-md-6 p{
    line-height: 2;
    opacity: .7;
}
.title--about{
    display: grid;
    place-content: start;
    text-align: left;
}
.container .ligne{
    justify-content: start;
    text-align: left;
    background: black;
    height: 3px;
    width: 70px;
}
.GALLERY img{
    filter: brightness(80%);
    cursor: pointer;
}
.image-container {
    position: relative;
    overflow: hidden;
    
}

.image-container img {
    transition: transform 0.3s;
}

.image-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 91%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    color: #fff;
}

.image-container:hover .image-details {
    opacity: 1; /* Show details on hover */
}


.fade-in-element {
    opacity: 0;
    transition: opacity 1s ease-in-out;

}
footer a:hover{
opacity: .7;
}
.social--media a{
    margin-right: 10px;
}
.social--media a i{
    color: white;
}
footer .row .col-5 .btn{
    border:1px solid white;
    color: white;
}

/* team */
.rounded-circle--team img{
  
    width: 220px;
    height: 200px;
    border-radius: 100%;
}

.arousel-control-next-icon, .carousel-control-next {
    color: black;
}

.modal{
    z-index: 100;
}
.modal-backdrop{
    z-index: 1;
}